/* Styles Overides */
.md-typeset {
    line-height: 1.7 !important;
}

.md-typeset :is(.question, .help, .faq)> :is(.admonition-title, summary),
.md-typeset :is(.tip, .hint, .important)> :is(.admonition-title, summary),
.md-typeset :is(.note)> :is(.admonition-title, summary),
.md-typeset :is(.info,
    .todo)> :is(.admonition-title, summary),
.md-typeset :is(.danger,
    .error)> :is(.admonition-title, summary),
.md-typeset :is(.warning,
    .caution,
    .attention)> :is(.admonition-title, summary),
.md-typeset :is(.success,
    .check,
    .done)> :is(.admonition-title, summary),
.md-typeset :is(.quote)> :is(.admonition-title, summary),
.md-typeset :is(.abstract)> :is(.admonition-title, summary) {
    padding-left: 2rem !important;
}

.md-typeset :is(.question, .help, .faq)> :is(.admonition-title, summary)::before,
.md-typeset :is(.note)> :is(.admonition-title, summary)::before,
.md-typeset :is(.tip, .hint,
    .important)> :is(.admonition-title, summary)::before,
.md-typeset :is(.info,
    .todo)> :is(.admonition-title, summary)::before,
.md-typeset :is(.success,
    .check,
    .done)> :is(.admonition-title, summary)::before,
.md-typeset :is(.quote)> :is(.admonition-title, summary)::before,
.md-typeset :is(.danger,
    .error)> :is(.admonition-title, summary)::before,
.md-typeset :is(.warning,
    .caution,
    .attention)> :is(.admonition-title, summary)::before,
.md-typeset :is(.abstract)> :is(.admonition-title, summary)::before {
    left: 0 !important;
}

.metadata {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    color: #999;
    font-size: 0.85em;
}

.metadata.page-metadata .contributors-text {
    margin-right: 5px
}

body[dir=rtl] .metadata.page-metadata .contributors-text {
    margin-right: 0;
    margin-left: 5px
}

.page-metadata .contributors {
    display: inline-block;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important
}

.page-metadata .contributors li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0
}