/* Styles Overides */
.md-grid {
    max-width: 75ch;
}

.md-typeset {
    line-height: 1.7 !important;
}

.md-typeset :is(.question, .help, .faq)> :is(.admonition-title, summary),
.md-typeset :is(.tip, .hint, .important)> :is(.admonition-title, summary),
.md-typeset :is(.note)> :is(.admonition-title, summary),
.md-typeset :is(.info,
    .todo)> :is(.admonition-title, summary),
.md-typeset :is(.danger,
    .error)> :is(.admonition-title, summary),
.md-typeset :is(.warning,
    .caution,
    .attention)> :is(.admonition-title, summary),
.md-typeset :is(.success,
    .check,
    .done)> :is(.admonition-title, summary),
.md-typeset :is(.quote)> :is(.admonition-title, summary),
.md-typeset :is(.abstract)> :is(.admonition-title, summary) {
    padding-left: 2rem !important;
}

.md-typeset :is(.question, .help, .faq)> :is(.admonition-title, summary)::before,
.md-typeset :is(.note)> :is(.admonition-title, summary)::before,
.md-typeset :is(.tip, .hint,
    .important)> :is(.admonition-title, summary)::before,
.md-typeset :is(.info,
    .todo)> :is(.admonition-title, summary)::before,
.md-typeset :is(.success,
    .check,
    .done)> :is(.admonition-title, summary)::before,
.md-typeset :is(.quote)> :is(.admonition-title, summary)::before,
.md-typeset :is(.danger,
    .error)> :is(.admonition-title, summary)::before,
.md-typeset :is(.warning,
    .caution,
    .attention)> :is(.admonition-title, summary)::before,
.md-typeset :is(.abstract)> :is(.admonition-title, summary)::before {
    left: 0 !important;
}